.c-drop-message
  position: absolute
  bottom: 100px
  width: 500px
  height: 100px
  display: block
  left: 50%
  margin-left: -250px
  background: transparent

  input
    font-size: 24px
    background: #ccc
    width: 380px
    border: none
    box-sizing: border-box
    height: 100px
    padding: 20px 20px
    display: inline-block
    vertical-align: middle
    opacity: 0.5
  
  button
    display: inline-block
    vertical-align: middle
    height: 100px
    width: 120px
    border: none
    background: url(./message_in_a_bottle_logo_1.png)
    background-size: cover
    outline: none
    background-color: #ddd
    opacity: 0.5
    
    &:hover
      cursor: pointer
      opacity: 1
    
