.c-drop-message
  position: absolute
  bottom: 100px
  width: 500px
  height: 100px
  display: block
  left: 50%
  margin-left: -250px
  background: transparent

  textarea
    font-size: 16px
    color: #fff
    background: #333
    width: 380px
    border: none
    box-sizing: border-box
    height: 100px
    padding: 20px 20px
    display: inline-block
    vertical-align: middle
    opacity: 0.61
    outline: none
    resize: none
    font-weight: 200
    font-family: Helvetica
    
  ::-webkit-input-placeholder
      color: #fff
          
  button
    display: inline-block
    vertical-align: middle
    height: 100px
    width: 120px
    border: none
    background: url(./message_in_a_bottle_logo_1.png)
    background-size: cover
    outline: none
    background-color: #ddd
    opacity: 0.7
    
    &:hover
      cursor: pointer
      opacity: 1
    
